<!DOCTYPE html>
<html>
<head>
<title>Ayuda</title>
</head>
<body>
<d1>El proyecto Quiz es una red social para crear adivinanzas. Los usuarios pueden compartir estas adivinanzas 
y solucionar las de sus amigos. Pra crear un quiz seleccione la opcion de "mis quizs" e indtroduzca su adivinanza.
</d1>
</body>
</html>