

<form method="POST" action="/quizzes/<%= quiz.id %>/tips/">
	<span id="autor">(by <%= tip.Author ? tip.Author.username : "Anómino" %>)</span>
    <div class="wideRow">

        <span class="itemNarrow">Nueva pista:</span>

    <input type="text" class="itemWide" id="tip" name="text" value="" placeholder="Pista" autocomplete="off" />

    <button type="submit" class="itemNarrow">Añadir</button>
    </div>

</form>
